@import url("./base/_funcionalidades.scss");
@import url("./base/_generales.scss");
@import url("./components/_header.scss");
@import url("./components/_main.scss");
@import url("./components/_footer.scss");
@import url("./base/_queries.scss");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #eaeaea;
}



// inicio


.hero {
    padding: 20px;
    margin: 15px;

    h2 {
        color: #aa5261;
        font-size: 25px;
        font-weight: 800;
        font-style: normal;

    }

    p {

        color: #68877b;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;

    }

    .hero-contenedor {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        div {
            border: 1px solid none;
            width: 250px;
            height: 250px;
            text-align: center;
            margin: 20px;

            img {

                border-radius: 50%;
                height: 200px;
                width: 200px;

            }



        }

    }


}

.caja1 {

    -webkit-transition: 1s linear;
    transition: 1s linear;

    &:hover {
        opacity: 0.3;
    }
}




.info {
    height: 300px;
    text-align: center;
    color: white;
    background-image: url("../img/fiesta.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 400;
    font-size: 30px;
    padding: 25px;
    text-shadow: -1px -1px 25px rgba(0, 0, 0, 1);
    height: 500px;

    h2 {
        font-weight: 800;
        font-size: 60px;
        text-shadow: -1px -1px 25px rgba(0, 0, 0, 1);
        border: 5px solid white;
        padding: 5px;

    }
}



// decoraciones
.carrusel {
    padding-bottom: 20px;

}


// regalos

.regalos {
    padding: 15px;
    font-style: normal;
    text-align: center;

    h2 {
        color: #aa5261;
        font-size: 28px;
        font-weight: 800;
        font-style: normal;

        p {
            color: #000000;
            font-size: 22px;
            font-weight: 200;
            font-style: normal;


        }

    }
}


// extras